---
import TimelineLayout from '../layouts/Timeline.astro';

const events = [
  {
    id: 1,
    imageUrl: '/images/timeline/1.png',
    linkUrl: 'https://blog.class612.bond/index.php/students/2021/09/10/military-training/',
    title: '2021年9月',
    description: '我们进入高中，举行军训等活动',
  },
  {
    id: 2,
    imageUrl: '/images/timeline/default.png',
    linkUrl: '#',
    title: '2021年12月31日',
    description: '元旦歌咏比赛',
  },
  {
    id: 3,
    imageUrl: '/images/timeline/default.png',
    linkUrl: 'https://blog.class612.bond/index.php/students/2022/01/05/subject-selected/',
    title: '2022年1月',
    description: '文理分科、分班',
  },
  {
    id: 4,
    imageUrl: '/images/timeline/4.jpeg',
    linkUrl: 'https://blog.class612.bond/index.php/students/2022/07/08/gyxxqqm/',
    title: '2022年7月8日',
    description: '高一下期末考试表彰',
  },
  {
    id: 5,
    imageUrl: '/images/timeline/default.png',
    linkUrl: 'https://blog.class612.bond/index.php/students/2022/11/18/online-course-2/',
    title: '2022年11月18日',
    description: '进入网课时代',
  },
  {
    id: 6,
    imageUrl: '/images/timeline/6.png',
    linkUrl: 'https://blog.class612.bond/index.php/students/2023/06/04/2023-6-1/',
    title: '2023年6月4日',
    description: '六一活动',
  },
  {
    id: 7,
    imageUrl: '/images/timeline/7.png',
    linkUrl: 'https://blog.class612.bond/index.php/students/2023/06/11/the-coming-age-ceremony/',
    title: '2023年6月11日',
    description: '成人礼',
  },
  {
    id: 8,
    imageUrl: '/images/timeline/8.jpeg',
    linkUrl: 'https://blog.class612.bond/index.php/students/2023/07/12/2-to-3/',
    title: '2023年7月12日',
    description: '高二升高三活动',
  },
  {
    id: 9,
    imageUrl: '/images/timeline/default.png',
    linkUrl: '#',
    title: '2023年8月',
    description: '升入高三',
  },
  {
    id: 10,
    imageUrl: '/images/timeline/default.png',
    linkUrl: '#',
    title: '2023年10月',
    description: '远足活动',
  },
  {
    id: 11,
    imageUrl: '/images/timeline/default.png',
    linkUrl: '#',
    title: '2024年2月28日',
    description: '百日誓师',
  },
  {
    id: 12,
    imageUrl: '/images/timeline/12.jpg',
    linkUrl: 'https://blog.class612.bond/index.php/students/2024/06/05/2024-gkzx/',
    title: '2024年6月5日',
    description: '高考壮行',
  },
  {
    id: 13,
    imageUrl: '/images/timeline/default.png',
    linkUrl: '#',
    title: '2024年6月7-8日',
    description: '高考',
  },
  {
    id: 14,
    imageUrl: '/images/timeline/14.jpeg',
    linkUrl: 'https://blog.class612.bond/index.php/students/2024/06/09/commencement-ceremony-2024/',
    title: '2024年6月9日',
    description: '毕业典礼',
  }
];
---

<TimelineLayout title="时间线" description="时间线">
  {events.map(event => (
    <div class="event-card">
      <a href={event.linkUrl} class="event-image">
        <img src={event.imageUrl} alt={event.title} />
      </a>
      <div class="event-text">
        <h3 class="event-title">{event.title}</h3>
        <p class="event-description">{event.description}</p>
      </div>
    </div>
  ))}
</TimelineLayout>
